@{
    ViewData["Title"] = "Home";
}
<div>
    <h2>Welcome to the Sai Flower shop</h2>
</div>

<p> In Sai Flower Shop, We  provide different gallery of flowers with lot of varieties. </p>





