@{
    ViewData["Title"] = "Home";
}
<div>
    <h2>Welcome to the Blooms For You Store</h2>
</div>

<style>
    div {
        background-image: url('Flower1.jpg');
    }
</style>

    <p> In Blooms For You Store, We assure to provide a wide range of exotic collection of flowers. </p>





